<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StrConnMdl" providerName="Oracle.DataAccess.Client" connectionString="Data Source=XE;User Id={0};Password={1}"/>
  </connectionStrings>
  <appSettings>
    <add key="TitreApplication" value="Maison des Ligues"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
