<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StrConnMdl" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST={0})(PORT={1}))(CONNECT_DATA=(SERVICE_NAME={2})));User Id={3};Password={4};"/>
  </connectionStrings>
  <appSettings>
    <add key="SERVEROUT" value="freesio.lyc-bonaparte.fr"/>
    <add key="PORTOUT" value="15211"/>
    <add key="SERVERIN" value="10.10.2.151"/>
    <add key="PORTIN" value="1521"/>
    <add key="SID" value="slam"/>
    <add key="TitreApplication" value="Maison des Ligues"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
